click==6.7
enum34==1.1.6
Flask==1.0.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
num2words==0.5.6
numpy==1.14.0
pathlib==1.0.1
Pygments==2.2.0
python-crfsuite==0.9.5
scikit-learn==0.19.1
scipy==1.0.0
semantic-version==2.6.0
six==1.11.0
sklearn-crfsuite==0.3.6
snips-nlu==0.13.3
snips-nlu-ontology==0.54.3
snips-nlu-utils==0.6.1
tabulate==0.8.2
tqdm==4.23.3
Werkzeug==0.14.1
